#ability {
  /* min-height: 90vh; */
  height: auto;
  width: 100%;
}

.abilityWrapper {
  /* height: 100%; */
  width: 100%;

  display: flex;
}

.ability_content {
  padding: 7vh 6vw;
  width: 55%;
  color: white;
  background-color: #13235b;
  display: flex;
  flex-direction: column;
  gap: 2vh;
}

.abilityImage {
  width: 45%;
}
.abilityImage img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.flex-wrapper {
  display: flex;
  flex-flow: row nowrap;
}

.single-chart {
  justify-content: space-around;
}

.circular-chart {
  display: block;
  margin: 26px 10px;
  width: 8vw;
  fill: none;
}

.circular-chart svg {
  fill: #13235b;
  background-color: #13235b;
}

.circle-bg {
  fill: none;
  stroke: #13235b;
  stroke-width: 0.8px;
}

.circle {
  fill: none;
  stroke-width: 0.8;
  stroke-linecap: round;
  stroke: #13235b;
  animation: progress 1s ease-out forwards;
}

@keyframes progress {
  0% {
    stroke-dasharray: 0 100;
  }
}

.circular-chart.orange .circle {
  stroke: #ff9f00;
  fill: #13235b;
}

.percentage {
  fill: white;
  font-family: sans-serif;
  font-size: 0.5em;
  text-anchor: middle;
}

.contentBox {
  display: flex;
  gap: 20px;
  margin-top: 2rem;
}

.box {
  width: 50%;
  height: 10vw;
  background-color: #3b4877;
  display: flex;
  align-items: center;
  padding: 20px;
}

.cirleWrapper {
  width: 40%;
  height: 100%;
}

.BoxContent {
  width: 60%;
  height: 100%;
}

.ability_content span {
  color: #eeb902;
}

.ability_content h1 {
  font-size: 3vw;
  margin: 0;
}
.ability_content p {
  margin: 0;
  font-size: 1.5vw;
  color: #e3e5ec;
}

.BoxContent {
  display: flex;
  justify-content: center;

  flex-direction: column;
}

.BoxContent h3 {
  font-size: 1.5vw;
  margin: 0;
  font-weight: 500;
}
.BoxContent p {
  font-size: 1.3vw;
  margin: 0;
}

#getInTouch {
  color: #d58508;
  font-size: 1.5vw;
  margin: 0;
}

.line {
  height: 4px;
  width: 8vw;
  background-color: #d58508;
}

@media (max-width: 1450px) {
  #ability {
    /* height: 100vh; */
    width: 100%;
  }

  .circular-chart {
    width: 6vw;
  }
}

@media (max-width: 768px) {
  .contentBox {
    flex-direction: column;
  }
  .circular-chart {
    margin: 10px;
  }

  .box {
    position: relative;
    width: 60%;
  }
  .circular-chart {
    width: 9vw;
  }

  .BoxContent h3 {
    font-size: 2vw;
  }
  .BoxContent p {
    font-size: 1.8vw;
  }
}
@media (max-width: 430px) {
  .abilityWrapper {
    flex-direction: column-reverse;
  }

  .ability_content {
    width: 100%;
  }

  .abilityImage {
    width: 100%;
    height: 100%;
  }
  #ability {
    height: auto;
  }

  .BoxContent h3 {
    font-size: 4.5vw;
  }
  .BoxContent p {
    font-size: 4vw !important;
  }

  .ability_content p {
    font-size: 3vw;
  }
  .ability_content h1 {
    font-size: 4.5vw;
  }
  .cirleWrapper {
  
    display: flex;
    justify-content: center;
    align-items: center;
}
.circular-chart{
    width: 15vw;
}
#getInTouch{
    font-size: 4vw;
}
.line{
    width: 23vw;
}
}
